{% extends 'homebase.html' %}

{% block title %} Contact Us-{{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% load static %}
{% block body %}
<!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2>CONTACT WITH US</h2>

                    </div>
                </div>

            </div>

        </section>
        <!-- END / SUB BANNER -->

        <!-- CONTACT -->
        <section class="section-contact">
            <div class="container">
                <div class="contact">
                    <div class="row">

                        <div class="col-md-8 col-lg-5">

                            {{ setting.contact|safe }}
                        </div>

                        <div class="col-md-4 col-lg-6 col-lg-offset-1">
                            <div class="text">
                            <h2>Contact Form</h2>
                            </div>
                            <div class="col-md-8">
                                <div class="section-title">
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{ message.tags }}" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            <div class="contact-form">
                                <form id="send-contact-form" method="post">
                                    {% csrf_token %}
                                    {{ form.as_ul }}
                                    <input class="awe-btn awe-btn-13" type="submit" id="submit" value="Send Massage">

                                    <div id="contact-content"></div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- END / CONTACT -->
{% endblock %}
