{% load static %}
<!-- ACCOMD ODATIONS -->
<section class="section-accomd awe-parallax bg-14">
    <div class="container">
        <div class="accomd-modations">
            <div class="row">
                <div class="col-md-12">
                    <div class="accomd-modations-header">
                        <h2 class="heading">Our Hotels</h2>
                        <img src="{% static '' %}images/icon-accmod.png" alt="icon">
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="accomd-modations-content owl-single">

                        <div class="row">
                            {% for rs in hotels_latest %}
                                <!-- ITEM -->
                                <div class="col-xs-4">
                                    <div class="accomd-modations-room">
                                        <div class="img">
                                            <a href="/hotel/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}"
                                                                                            alt=""></a>
                                        </div>
                                        <div class="text">
                                            <h2><a href="/hotel/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h2>
                                            <p class="price">
                                                <span class="amout">${{ rs.price }}</span>/days
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- END / ITEM -->

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END / ACCOMD ODATIONS -->


<!-- OUR BEST -->
<section class="section-our-best bg-white">
    <div class="container">

        <div class="our-best">
            <div class="row">
                {% for rs in hotels_picked %}
                    <div class="col-md-6 col-md-push-6">
                        <div class="img">
                           <a href="/hotel/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}"
                                                                                            alt=""></a>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-pull-6 ">
                        <div class="text">
                            <h2 class="heading">Our Best is :</h2>
                            <h5>{{ rs.title }}</h5>
                            <p>{{ rs.description }}</p>
                            <p class="price">
                                <span class="amout">${{ rs.price }}</span>/days
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</section>
<!-- END / OUR BEST -->

