{% load static %}
<!-- HEADER -->
<!-- PRELOADER -->
<div id="preloader">
    <span class="preloader-dot"></span>
</div>
<!-- END / PRELOADER -->

<!-- PAGE WRAP -->
<div id="page-wrap">
    <header id="header">

        <!-- HEADER TOP -->
        <div class="header_top">
            <div class="container">
                <div class="header_left float-left">
                    <span><i class="lotus-icon-cloud"></i> 18 °C</span>
                    <span><i class="lotus-icon-location"></i> 225 Beach Street, Australian</span>
                    <span><i class="lotus-icon-phone"></i> 1-548-854-8898</span>
                </div>
                <div class="header_left float-left">
                    <div class="mailchimp-form">
                            <form action="/search/" method="POST">
                                {% csrf_token %}
                                <input id="query" type="text" name="query" placeholder="Enter your Keywords" class="input-text">
                                <select name="catid" class="input search-categories">
                                    <option value="0">all categories</option>
                                    {% for rs in categoray %}
                                    <option value="{{ rs.id }}">{{ rs.title }}</option>
                                   {% endfor %}
                                </select>
                                <button class="search-btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                </div>
                <div class="header_right float-right">

                        <span class="login-register">
                            <a href="login.html">Login</a>
                            <a href="register.html">register</a>
                        </span>

                    <div class="dropdown currency">
                        <span>USD <i class="fa fa"></i></span>
                        <ul>
                            <li class="active"><a href="#">USD</a></li>
                            <li><a href="#">EUR</a></li>
                        </ul>
                    </div>

                    <div class="dropdown language">
                        <span>ENG</span>

                        <ul>
                            <li class="active"><a href="#">ENG</a></li>
                            <li><a href="#">FR</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- END / HEADER TOP -->

        <!-- HEADER LOGO & MENU -->
        <div class="header_content" id="header_content">

            <div class="container">
                <!-- HEADER LOGO -->
                <div class="header_logo">
                    <a href="/"><img src="{% static '' %}images/logo-header.png" alt=""></a>
                </div>
                <!-- END / HEADER LOGO -->

                <!-- HEADER MENU -->
                <nav class="header_menu">
                    <ul class="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/aboutus">About</a></li>

                        <li>
                            <a href="#">Room <span class="fa fa-caret-down"></span></a>
                            <ul class="sub-menu">
                                <li><a href="room-1.html">Room 1</a></li>
                                <li><a href="room-2.html">Room 2</a></li>
                                <li><a href="room-3.html">Room 3</a></li>
                                <li><a href="room-4.html">Room 4</a></li>
                                <li><a href="room-5.html">Room 5</a></li>
                                <li><a href="room-6.html">Room 6</a></li>
                                <li><a href="room-detail.html">Room Detail</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Restaurant <span class="fa fa-caret-down"></span></a>
                            <ul class="sub-menu">
                                <li><a href="restaurants-1.html">Restaurant 1</a></li>
                                <li><a href="restaurants-2.html">Restaurant 2</a></li>
                                <li><a href="restaurants-3.html">Restaurant 3</a></li>
                                <li><a href="restaurants-4.html">Restaurant 4</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Reservation <span class="fa fa-caret-down"></span></a>
                            <ul class="sub-menu">
                                <li><a href="reservation-step-1.html">Reservation Step 1</a></li>
                                <li><a href="reservation-step-2.html">Reservation Step 2</a></li>
                                <li><a href="reservation-step-3.html">Reservation Step 3</a></li>
                                <li><a href="reservation-step-4.html">Reservation Step 4</a></li>
                                <li><a href="reservation-step-5.html">Reservation Step 5</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Category<span class="fa fa-caret-down"></span></a>
                            {% load mptt_tags %}
                            <ul class="sub-menu">
                                {% recursetree category %}
                                <li>
                                    <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}<span class="fa fa-caret-right"></span></a>
                                    {% if not node.is_leaf_node %}
                                    <ul class="sub-menu">
                                        <li><a href="#">{{ children }}</a></li>
                                    </ul>
                                    {% endif %}
                                </li>
                            {% endrecursetree %}
                            </ul>
                        </li>

                        <li>
                            <a href="#">Gallery <span class="fa fa-caret-down"></span></a>
                            <ul class="sub-menu">
                                <li><a href="gallery.html">Gallery Style 1</a></li>
                                <li><a href="gallery-2.html">Gallery Style 2</a></li>
                                <li><a href="gallery-3.html">Gallery Style 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Blog <span class="fa fa-caret-down"></span></a>
                            <ul class="sub-menu">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-detail.html">Blog Detail</a></li>
                                <li><a href="blog-detail-fullwidth.html">Blog Detail Fullwidth</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
                <!-- END / HEADER MENU -->

                <!-- MENU BAR -->
                <span class="menu-bars">
                        <span></span>
                    </span>
                <!-- END / MENU BAR -->

            </div>
        </div>
        <!-- END / HEADER LOGO & MENU -->

    </header>
    <!-- END / HEADER -->
</div>