{% load static %}
<!-- HEADER -->
<!-- PRELOADER -->
<div id="preloader">
    <span class="preloader-dot"></span>
</div>
<!-- END / PRELOADER -->

<!-- PAGE WRAP -->
<div id="page-wrap">
    <header id="header">

        <!-- HEADER TOP -->
        <div class="header_top">
            <div class="container">
                <div class="header_left float-left">
                    {% if user.id is not None %}
                        Welcome : <strong class="text-uppercase">{{ user.first_name }}</strong>
                        <br>
                        <a href="/logout">Logout</a> / <a href="/user"> My Account</a>
                    {% else %}
                        <span class="login-register">
                            <strong><a href="/login">Login</a></strong> / <strong><a href="/signup">Sign Up</a></strong>
                        </span>
                    {% endif %}
                </div>
                <script>

                    $(function () {
                        $("#query").autocomplete({
                            source: "/search_auto/",
                            select: function (event, ui) { //item selected
                                AutoCompleteSelectHandler(event, ui)
                            },
                            minLength: 2,
                        });
                    });

                    function AutoCompleteSelectHandler(event, ui) {
                        var selectedObj = ui.item;
                    }

                </script>
                <div class="header_right float-right">
                    <div class="mailchimp-form">
                        <form action="/search/" method="POST">
                            {% csrf_token %}
                            <input id="query" type="text" name="query" placeholder="Enter your Keywords"
                                   class="input-text">
                            <select name="catid" class="input search-categories">
                                <option value="0">all categories</option>
                                {% for rs in categoray %}
                                    <option value="{{ rs.id }}">{{ rs.title }}</option>
                                {% endfor %}
                            </select>
                            <button class="search-btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END / HEADER TOP -->

        <!-- HEADER LOGO & MENU -->
        <div class="header_content" id="header_content">

            <div class="container">
                <!-- HEADER LOGO -->
                <div class="header_logo">
                    <a href="/"><img src="{% static '' %}images/logo-header.png" alt=""></a>
                </div>
                <!-- END / HEADER LOGO -->

                <!-- HEADER MENU -->
                <nav class="header_menu">
                    <ul class="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/aboutus">About</a></li>

                        <li>
                            <a href="#">Room <span class="fa fa-caret-down"></span></a>
                            <ul class="sub-menu">
                                <li><a href="room-1.html">Room 1</a></li>
                                <li><a href="room-2.html">Room 2</a></li>
                                <li><a href="room-3.html">Room 3</a></li>
                                <li><a href="room-4.html">Room 4</a></li>
                                <li><a href="room-5.html">Room 5</a></li>
                                <li><a href="room-6.html">Room 6</a></li>
                                <li><a href="room-detail.html">Room Detail</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Restaurant <span class="fa fa-caret-down"></span></a>
                            <ul class="sub-menu">
                                <li><a href="restaurants-1.html">Restaurant 1</a></li>
                                <li><a href="restaurants-2.html">Restaurant 2</a></li>
                                <li><a href="restaurants-3.html">Restaurant 3</a></li>
                                <li><a href="restaurants-4.html">Restaurant 4</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Reservation <span class="fa fa-caret-down"></span></a>
                            <ul class="sub-menu">
                                <li><a href="reservation-step-1.html">Reservation Step 1</a></li>
                                <li><a href="reservation-step-2.html">Reservation Step 2</a></li>
                                <li><a href="reservation-step-3.html">Reservation Step 3</a></li>
                                <li><a href="reservation-step-4.html">Reservation Step 4</a></li>
                                <li><a href="reservation-step-5.html">Reservation Step 5</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Category<span class="fa fa-caret-down"></span></a>
                            {% load mptt_tags %}
                            <ul class="sub-menu">
                                {% recursetree category %}
                                    <li>
                                        <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}<span
                                                class="fa fa-caret-right"></span></a>
                                        {% if not node.is_leaf_node %}
                                            <ul class="sub-menu">
                                                <li><a href="#">{{ children }}</a></li>
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endrecursetree %}
                            </ul>
                        </li>

                        <li>
                            <a href="#">Gallery <span class="fa fa-caret-down"></span></a>
                            <ul class="sub-menu">
                                <li><a href="gallery.html">Gallery Style 1</a></li>
                                <li><a href="gallery-2.html">Gallery Style 2</a></li>
                                <li><a href="gallery-3.html">Gallery Style 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Blog <span class="fa fa-caret-down"></span></a>
                            <ul class="sub-menu">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-detail.html">Blog Detail</a></li>
                                <li><a href="blog-detail-fullwidth.html">Blog Detail Fullwidth</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                </nav>
                <!-- END / HEADER MENU -->

                <!-- MENU BAR -->
                <span class="menu-bars">
                        <span></span>
                    </span>
                <!-- END / MENU BAR -->

            </div>
        </div>
        <!-- END / HEADER LOGO & MENU -->

    </header>
    <!-- END / HEADER -->
</div>