{% extends 'homebase.html' %}

{% block title %} {{ hotel.title }} {% endblock %}
{% block description %} {{ hotel.description }} {% endblock %}
{% block keywords %} {{ hotel.keywords }} {% endblock %}
{% load static %}
{% block body %}
    <!-- SUB BANNER -->
    <section class="section-sub-banner bg-9">
        <div class="sub-banner">
            <div class="container">
                <div class="text text-center">
                    <h2>{{ hotel.title }}</h2>
                </div>
            </div>

        </div>

    </section>
    <!-- END / SUB BANNER -->

    <!-- BLOG -->
    <section class="section-blog bg-white">
        <div class="container">
            <div class="blog">
                <div class="row">

                    <div class="col-md-8 col-md-offset-2">
                        <div class="blog-content">
                            <h1 class="element-invisible">Hotel detail</h1>
                            <!-- POST SINGLE -->
                            <article class="post post-single">

                                <div class="entry-media">
                                    <div class="row">

                                        <div class=" col-md-offset-1">

                                            <div class="room-detail">
                                                <div class="row">
                                                    <div class="col-lg-9">

                                                        <!-- LAGER IMGAE -->
                                                        <div class="room-detail_img">
                                                            <div class="room_img-item">
                                                                <img src="{{ hotel.image.url }}" alt="">
                                                            </div>
                                                            {% for rs in images %}
                                                                <div class="room_img-item">
                                                                    <img src="{{ rs.image.url }}" alt="">
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <!-- END / LAGER IMGAE -->

                                                        <!-- THUMBNAIL IMAGE -->
                                                        <div class="room-detail_thumbs">
                                                            <a href="#"><img src="{{ hotel.image.url }}" alt=""></a>
                                                            {% for rs in images %}
                                                                <a href="#"><img src="{{ rs.image.url }}" alt=""></a>
                                                            {% endfor %}
                                                        </div>
                                                        <!-- END / THUMBNAIL IMAGE -->

                                                    </div>
                                                    <div class="">
                                                        <div class="entry-header">

                                                            <h2 class="entry-title">{{ hotel.title }}</h2>

                                                        </div>

                                                        <div class="entry-content">

                                                            <p><b>{{ hotel.detail | safe }}</b></p>
                                                            <p><b>${{ hotel.price }}</b></p>
                                                            <br/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- END / POST SINGLE -->

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END / BLOG -->
    <!-- RESTAURANTS -->
    <section class="section-restaurant-3 bg-white">
        <div class="container">

            <div class="restaurant-tabs">

                <div class="tabs tabs-restaurant">

                    <ul>
                        <li><a href="#tabs-1">COMMENTS </a></li>

                        <li><a href="#tabs-2">ROOMS</a></li>

                    </ul>

                    <div id="tabs-1">

                        <div class="restaurant_content">
                            <div class="row">

                                <!-- ITEM -->
                                <div class="col-md-12">
                                    <!-- COMMENT -->
                                    <div id="comments">


                                        <ul class="commentlist">
                                            {% for rs in comments %}
                                                <li>
                                                    <div class="comment-body">

                                                        <a class="comment-avatar"><img
                                                                src="{% static '' %}images/avatar/img-1.jpg" alt=""></a>
                                                        <h4 class="comment-subject">{{ rs.user.subject }}</h4>
                                                        <p>{{ rs.comment }}</p>

                                                        <span class="comment-meta">
                                                {{ rs.user.first_name }}
                                                    <br>
                                                    <b>{{ rs.subject }}</b>
                                                    <br>
                                                    {{ rs.create_at }}
                                                </span>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <!-- END / COMMENT -->

                                    <!-- COMMENT RESPOND -->
                                    <div class="comment-respond">
                                        <h3 class="comment-reply-title">LEAVE A COMMENT</h3>
                                        {% if messages %}
                                            {% for message in messages %}
                                                <div class="alert alert-{{ message.tags }}" role="alert">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <form action="/hotel/addcomment/{{ hotel.id }}" method="post"
                                              class="comment-form">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input name="subject" class="field-text" type="text"
                                                           placeholder="Your subject">
                                                </div>
                                                <div class="col-sm-12">
                                            <textarea name="comment" class="field-textarea"
                                                      placeholder="Your comment"></textarea>
                                                </div>
                                                <div class="col-sm-12">
                                                    {% if user.id is not None %}
                                                        <button class="awe-btn awe-btn-14">SUBMIT COMMENT</button>
                                                    {% else %}
                                                        You must be logged in to post a review
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- END COMMENT RESPOND -->
                                </div>
                                <!-- END / ITEM -->


                            </div>

                        </div>

                    </div>

                    <div id="tabs-2">

                        <!-- ROOM -->
                        <section class="section-room bg-white">
                            <div class="container">

                                <div class="room-wrap-1">
                                    <div class="row">
                                        {% for rs in rooms %}
                                            <!-- ITEM -->
                                            <div class="col-md-8">
                                                <div class="room_item-1">
                                                    {% if messages %}
                                                        {% for message in messages %}
                                                            <div class="alert alert-{{ message.tags }}" role="alert">
                                                                {{ message }}
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                    <form action="/reservation/addtobooking/{{ rs.id }}" method="post">
                                                        {% csrf_token %}
                                                        <h2>{{ rs.title }}</h2>
                                                        <div class="img">
                                                            <img src="{{ rs.image.url }}" alt="">
                                                        </div>

                                                        <div class="desc">
                                                            <p>{{ rs.description }}</p>
                                                            <ul>
                                                                <li>Max: {{ rs.amount }} Person(s)</li>
                                                                <li>{{ rs.type }}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="desc">
                                                            <span class="text-uppercase">QTY: </span>
                                                            <input class="input" name="quantity" type="number" value="1"
                                                                   min="1" max="{{ room.amout }}">
                                                        </div>

                                                        <div class="bot">
                                                        <span class="price">Starting price<span
                                                                class="amout">${{ rs.price }}</span> /days</span>
                                                            <button type="submit" class="awe-btn awe-btn-13">Book Now
                                                            </button>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>

                                            <!-- END / ITEM -->
                                        {% endfor %}

                                    </div>
                                </div>

                            </div>
                        </section>
                        <!-- END / ROOM -->
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- END / RESTAURANTS -->

{% endblock %}