{% load static %}
<!-- BANNER SLIDER -->
<section class="section-slider">
    <h1 class="element-invisible">Slider</h1>
    <div id="slider-revolution">
        <ul>
            {% for rs in hotels_slider %}
                <li data-transition="fade">
                    <img src="{{ rs.image.url }}" data-bgposition="left center" data-duration="14000"
                         data-bgpositionend="right center" alt="">

                    <div class="tp-caption sfb fadeout slider-caption slider-caption-sub-1" data-x="center" data-y="280"
                         data-speed="700" data-easing="easeOutBack" data-start="2000">{{ rs.title }}
                        <h3>${{ rs.price }}</h3>
                    </div>

                    <a href="/hotel/{{ rs.id }}/{{ rs.slug }}"
                       class="tp-caption sfb fadeout awe-btn awe-btn-12 awe-btn-slider" data-x="center"
                       data-y="380" data-easing="easeOutBack" data-speed="700" data-start="2200">VIEW NOW</a>
                </li>
            {% endfor %}
        </ul>
    </div>

</section>
<!-- END / BANNER SLIDER -->