{% extends 'homebase.html' %}

{% block title %}  {{ user.first_name }} -Reservation Informations {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% load static %}
{% block body %}
    <section class="section-account parallax bg-11">
        <div class="awe-overlay"></div>
        <div class="container">
            <div class="login-register">
                <div class="text text-center">
                    <h2>User Reservation Informations</h2>
                    <table class="table" cellpadding="3" width="100%">
                        {% for rs in reservationroom %}
                            <tr>
                                <td>
                                    <a href="/hotel/{{ rs.room.hotel.id }}/{{ rs.room.hotel.slug }}/">
                                        <img src="{{ rs.room.hotel.thumbnail.url }}"
                                             style="width: 100%">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th width="30%">Id</th>
                                <td>{{ rs.id }}</td>
                            </tr>
                            <tr>
                                <th>Hotel</th>
                                <td>{{ rs.room.hotel.title }}</td>
                            </tr>
                            <tr>
                                <th>Room</th>
                                <td>{{ rs.room.title }}</td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td>{{ rs.price }}</td>
                            </tr>
                            <tr>
                                <th>Children</th>
                                <td>{{ rs.children }}</td>
                            </tr>
                            <tr>
                                <th>Adults</th>
                                <td>{{ rs.adults }}</td>
                            </tr>
                            <tr>
                                <th>CheckIn</th>
                                <td>{{ rs.checkin }}</td>
                            </tr>
                            <tr>
                                <th>CheckOut</th>
                                <td>{{ rs.checkout }}</td>
                            </tr>
                            <tr>
                                <th>status</th>
                                <td>{{ rs.status }}</td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td>{{ rs.create_at.date }}</td>
                            </tr>
                            <tr>
                                <th><a class="btn btn-warning" href="/user/reservations/">BACK</a></th>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <!-- /section -->
    </section>
{% endblock %}