{% extends 'homebase.html' %}

{% block title %}  {{ user.first_name }} -Reservation Informations {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% load static %}
{% block body %}
    <section class="section-account parallax bg-11">
        <div class="awe-overlay"></div>
        <div class="container">
            <div class="login-register">
                <div class="text text-center">
                    <h2>Reservation cart rooms</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Remove</th>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Typee</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rs in reservationcart %}
                            <tr>
                                <th><a href="/reservation/deletefromcart/{{ rs.id }}"
                                       onclick="return confirm('Delete! Are you sure?')"></a>
                                </th>
                                <th><img src="{{ rs.room.image.url }}" style="width:450px;height:150px;" alt=""/></th>
                                <th>{{ rs.room.title }}</th>
                                <th>{{ rs.room.type }}</th>
                                <th>{{ rs.room.price }}$</th>
                                <th>{{ rs.quantity }}</th>
                                <th>{{ rs.date_start }}</th>
                                <th>{{ rs.date_end }}</th>
                                <th>{{ rs.amount }}</th>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="container">
                        <div class="row">

                            <div class="col-sm" style="display:inline;float:right;">
                                <h3>{{ total }}$</h3>
                            </div>

                            <div class="col-sm" style="display:inline;float:right;margin:0px 50px;">
                                <h3>Total =</h3>
                            </div>

                            <br>
                            <br>
                            <br>
                            <div class="col-sm" style="float:right;">
                                <a href="/reservation/reservationroom">
                                    <button class="awe-btn awe-btn-13" type="submit" class="btn btn-primary">Make a Reservation</button>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /section -->
    </section>
{% endblock %}